<!DOCTYPE html>
<html>
  <body style="font-family: Arial;">
    <h2>Welcome to Craft Vision 👋</h2>
    <p>Your OTP is:</p>
    <h1>{{otp}}</h1>
    <p>This OTP will expire in {{expiry}} minutes.</p>
    <p>If you didn’t request this, ignore it.</p>
  </body>
</html>
